
.Generate-div {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    
  }
  
  .Generate-div button {
    color: rgb(0, 0, 0);
    background-color: #00efba;
    border: none;
    border-radius: 6px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 60px;
    padding-right: 60px;
    font-size: 18px;
    font-family: 'Avenir';
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    letter-spacing: 1px;
  }

  .Generate-div button:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }

  .Card-container {
    padding-left: 600px;
    padding-right: 600px;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
  }